body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.nav-pills li a {
    background-color: #bacfe5;
    color: white;
    border-radius: 0;
    padding: 5px;
}

.nav-pills li a img {
    width: 18px;
    vertical-align: middle;
}

.nav-pills li a span {
    font-size: 16px;
    vertical-align: middle;
}

.panel-group {
    margin: 10px 0;
}

.panel, .panel-heading {
    border-radius: 0 !important;
    font-size: 14px;
}

.panel-heading h4 a {
    text-decoration: none;
}

.article-user {
    padding-left: 8px;
}

.article-date {
    padding-left: 2px;
}

#errorArticles, .messArticles {
    text-align: center !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
}